/* ----------------------------------------------------------------------------
 * Base
 * ------------------------------------------------------------------------- */

/*This is for the sidebar mobile navigation*/
html, body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  /*  @media (max-width: 544px) {
      background: $brand-primary;
    }*/
}

/*Main page container*/
.page-container {
  background: $w;
  position: relative;
  z-index: 2;
  transform: translate3d(0, 0, 0); /* X, Y, Z */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  overflow: hidden;
  /*  @include media-breakpoint-down(sm) {
      height: 100vh;
    }*/
}

/*Flex center*/
.flex-center {
  align-items: center;
  justify-content: center;
}

/* ----------------------------------------------------------------------------
 * Global Text Formatting
 * ------------------------------------------------------------------------- */
body,html {
  font-weight: $regular;
  color: $brand-second;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: $titles-color;
  font-family: 'Montserrat';
}

h1 {
  font-weight: $bolder;
  @media (max-width: 320px) {
    font-size: 2rem;
  }
}

h2, h3 {
  font-weight: $bold;
}

h4 {
  color: $off-blue;
  font-weight: $bold;

}


p {
  color: $off-blue;
  font-family: 'Roboto';
  font-weight: $regular;
  @media (max-width: 320px) {
    word-break: break-word;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

//dots
.dots {
  height: 1.65rem;
}

.dots span span {
  background-color: $brand-primary;
  border-radius: 999px;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 11px;
  margin-right: 7.5px;
}


