/* ----------------------------------------------------------------------------
 * Buttons
 * ------------------------------------------------------------------------- */
.btn {

  background-color: $brand-second;
  font-size: 14px;
  color: $w;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border: none;
  padding: 20px;

  &:hover {
    transition: .5s ease;
    background-color: lighten($brand-second, 10%);
  }
}