/* ----------------------------------------------------------------------------
 * Footer
 * ------------------------------------------------------------------------- */
.footer {
  background-color: $brand-second;

  /*paragraph tags*/
  p {
    color: #8b99a2;
  }

  .fa {
    font-size: 16px;
    color: $brand-primary;
    padding-right: 5px;
  }

  .copyright {
    color: $darkgrey;
    margin-bottom: 0px;
    font-size: 13px;

  }
}

/* ----------------------------------------------------------------------------
 * Top footer
 * ------------------------------------------------------------------------- */
.top-footer {
  padding: 30px 20px 10px 20px;

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  h4 {
    color: $w;
    font-size: 14px;
    font-weight: bold;
  }
}

//Social
.social-share {
  li {
    list-style: none;
  }
}

//Services menu
.services-footer {
  ul {
    padding-left: 0px;
  }
  li {
    list-style: none;
    border-bottom: 1px solid #383838;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 21px;
    font-size: 15px;
    a {
      color: #8b99a2;
      transition: .6s ease;
      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }
    @media (max-width: 544px) {
      border-bottom: none;
    }
  }
}

/*Recent news*/
.blog-item {
  margin-top: 1.5vw;
  display: flex;
  /*align-items: center;*/
  flex-direction: row;
  h4 {
    padding-left: 20px;
    @media (max-width: 414px) {
      padding-left: 0px;
    }
  }
  img {
    border-radius: 4px;
  }
  @media (max-width: 414px) {
    flex-direction: column;
  }
}

/*Removes ultimate link*/
.sfsi_footerLnk {
  display: none;
}

/* ----------------------------------------------------------------------------
 * Bottom footer / Menu
 * ------------------------------------------------------------------------- */
.bottom-container {
  background-color: #001a25;
}

.bottom-footer {
  padding: 20px 0;
}

#menu-footer {
  display: flex;
  margin-bottom: 0px;
  list-style: none;
  justify-content: space-around;
  flex-direction: row;
  padding-left: 0px;

  a {
    padding: 0 1em;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 12px;
    font-weight: $bold;
    color: $w;
    transition: .6s ease;
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  @media (max-width: 736px) {
    flex-direction: column;
    margin-bottom: 2.5vw;
  }
}
