/* ----------------------------------------------------------------------------
 * Top Header
 * ------------------------------------------------------------------------- */
.top-contact {
  background-color: $brand-second;
  padding: 8px 0;

  a {
    color: $w;
    display: flex;
    align-items: center;
  }

  span {
    padding: 0 5px;
  }

  p {
    color: $w;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $bold;
    
    @media (max-width: 768px) {
      text-align: center;
      justify-content: center;
    }
  }

  .fa {
    font-size: 30px;
    padding-right: 6px;
  }
}

/* ----------------------------------------------------------------------------
 * Header & Navigation
 * ------------------------------------------------------------------------- */
.navbar-toggleable-md .navbar-collapse {
  @media (min-width: 992px) {
    justify-content: flex-end;
  }
}

.dropdown-menu {

  background-color: $w;

  //links
  a {
    text-transform: initial;
    &:hover {
      border-left: 1px solid $brand-primary;
    }
  }
}

//links
.nav-link {

  color: $brand-second !important;
  font-weight: bold;
  transition: .6s ease;

  &:hover,
  &:focus,
  &:active {
    color: $brand-primary !important;
  }
}
//logo
.navbar-brand {
width: 100%;
  img {
    width: 320px;
    display: block;
    margin: auto;

    @media (max-width: 414px) {
      width: 250px;
    }

    @media (max-width: 320px) {
      width: 240px;
    }
  }

  @media (min-width: 992px) {
    padding: 10px;
  }
}

//menu
.menu-main-nav-container {
  margin-top: 10px;
}

/* ----------------------------------------------------------------------------
 * Navigation for Bootstrap
 * ------------------------------------------------------------------------- */

/*
Changes dropdown menu to hover*/
/*.dropdown:hover .dropdown-menu {

  @media (min-width: 993px) {
    display: block;
  }
}*/

/* ----------------------------------------------------------------------------
 * Mega Menu
 * ------------------------------------------------------------------------- */
ul#mega-menu-primary {
  background-color: $brand-primary !important;
}

a.mega-menu-link {
  font-weight: bold !important;
}

#mega-menu-wrap-primary #mega-menu-primary {
  text-align: center;
}


