.hero {
  height: 55vh;
  color: $w;
  display: flex;

  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*title*/
  h2 {
    color: $w !important;
    font-weight: $bold;
    letter-spacing: 1.5px;
    animation-duration: 3s !important;
    font-size: 2.5rem;
  }

  /*subtitle*/
  h4 {
    text-transform: uppercase;
    font-weight: bold;
    animation-duration: 3s !important;
  }

  @media (min-width: 1000px) {
    font-size: 40px;
    letter-spacing: 1px;
  }
}

