/* ----------------------------------------------------------------------------
 * Slider
 * ------------------------------------------------------------------------- */
#homeCarousel {
  height: 800px;

  @media (max-width: 768px) {
    height: 550px;
  }
}

#homeCarousel .carousel-item-next, #homeCarousel  .carousel-item-prev, #homeCarousel .carousel-item.active {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.carousel-inner {
  height: 100%;
}

// mini images
.slide-mini-images .fa {

  font-size: 40px;
  margin: 0 8px;
  background-color: rgba(255, 255, 255, .5);
  padding: 10px;
  border-radius: 5px;
  color: $brand-primary;

  @media (max-width: 1000px) {
    display: none;
  }

}

.slide-copy {
  h2 {
    color: $brand-primary;
  }

  //title
  .slide-title {
    color: $w;
    font-weight: $bold;
    letter-spacing: 1px;

    @media (min-width: 1000px) {
      font-size: 80px;
    }
  }

  .slide-subtitle {
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 2px;

    @media (min-width: 1000px) {
      font-size: 80px;
      line-height: 81px;
    }
  }

  //copy
  p {
    color: $w;
    font-weight: $regular;
    padding: 20px 0;
    font-size: 25px;
  }

  //button
  .btn {
    margin: 0 auto;
  }
}
